@import "tailwindcss";

:root {
  /* light palette */
  --palette-bg-light: #ffffff;
  --palette-bg-muted-light: #f3f4f6;
  --palette-fg-light: #212121;
  --palette-fg-muted-light: #2c2c2c;
  --palette-blue-light: #eff6ff;

  /* dark palette */
  --palette-bg-dark: #242424;
  --palette-bg-muted-dark: #2c2c2c;
  --palette-fg-dark: #a9a9a9;
  --palette-fg-muted-dark: #868686;
  --palette-blue-dark: #393c49;

  /* default mapping (light mode) */
  --background: var(--palette-bg-light);
  --background-muted: var(--palette-bg-muted-light);
  --foreground: var(--palette-fg-light);
  --foreground-muted: var(--palette-fg-muted-light);
  --blue: var(--palette-blue-light);
}

/* auto dark mode based on user’s system preference */
@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--palette-bg-dark);
    --background-muted: var(--palette-bg-muted-dark);
    --foreground: var(--palette-fg-dark);
    --foreground-muted: var(--palette-fg-muted-dark);
    --blue: var(--palette-blue-dark);
    color-scheme: dark;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* manual override via attribute on <html> */
:root[data-theme="light"] {
  --background: var(--palette-bg-light);
  --background-muted: var(--palette-bg-muted-light);
  --foreground: var(--palette-fg-light);
  --foreground-muted: var(--palette-fg-muted-light);
  --blue: var(--palette-blue-light);
  color-scheme: light;
}

:root[data-theme="dark"] {
  --background: var(--palette-bg-dark);
  --background-muted: var(--palette-bg-muted-dark);
  --foreground: var(--palette-fg-dark);
  --foreground-muted: var(--palette-fg-muted-dark);
  --blue: var(--palette-blue-dark);
  color-scheme: dark;
}
